*.o
ContactCards.sql
src/ContactCards
*~
config.guess
config.rpath
config.sub
po/*.gmo
po/*.header
po/*.mo
po/*.sed
po/*.sin
po/POTFILES
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/contactcards.pot
po/Rules-quot
po/stamp-it
ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps
Makefile
Makefile.in
